.login-form{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.form__group{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin-top: 15px;
}

.login-form__title {
    /* font-family: Poppins-SVN, sans-serif; */
    font-size: 32px;
    font-weight: 600;
    line-height: 1.375em;
}

.login-form__subtitle {
  color: #666;
  margin-bottom: 20px;
}


.form__input {
  border: 0;
  outline: none;
  font-size: 16px;
}

.form__label {
  font-size: 12px;
  font-weight: 800;
  color: #000000;
  margin-bottom: 5px;
}


.form__forgot {
  text-align: right;
  margin-top: 6px;
}

.form__forgot a {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.form__forgot a:hover {
  text-decoration: underline;
}
