body{
     box-sizing: border-box;
     margin: 0;
}
.container{
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header{
 background-color: #F2F2F2;
 display: flex;
 justify-content: space-around;
 align-items: center;
}


.logo{
    padding: 0.75em;
}
.logo > a{
    display: inline-block;
}
.logo > a > img{
    max-width: 257px;
    height: 91px;
}


.nav{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.nav > ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.nav > ul > li{
    padding: 8px;
    margin: 6px;
}

ul > li > a{
    text-decoration: none;
    color: rgb(93, 145, 98);
}



.cart > a{
    text-decoration: none;
    color: rgb(93, 145, 98);
}